# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Editor-specific files
.vscode/
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
build/
bin/

# Dependency directories
lib/
include/

# Backup files
*.bak

# Log files
*.log

# Temporary files
*.tmp 